*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

app/prod/release/output.json

app/prod/release/WeatherMap_prodRelease_v0.1_d20112017_1752.apk
